
@{
    ViewBag.Title = "About";
}

    <div class="principal">

        <div class="navbar">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="boton"></li>
                        <li class="boton"></li>

                    </ul>
                    <div class="linea">

                    </div>
                </div>
            </div>
        </div>


        <div class="secundario">
            <div id="logoEpiphany">
                <img id="logoEp" src="~/Content/ver_1.png" />
                <h3>GRUPO 1</h3>
                <h5>
                    Cayún García, Diego Saúl - Legajo: 110191
                </h5>
                <h5>
                    Kozusnik, Milenka - Legajo: 110208
                </h5>
                <h5>
                    Martínez, Agustina - Legajo: 110415
                </h5>
                <h5>
                    Merlo Ruggieri, Antonella - Legajo: 110334
                </h5>
            </div>
        </div>

        



    
    </div>
