@using Zoom.Models
@model VMGuias

@{
    ViewBag.Title = "Add";
}
    <body class="bodyGuias">
        <div class="div1">
            <h2 class="titulos">Agregar Guia</h2>
            @using (Html.BeginForm())
            {
                <table align="center">
                    <tr>
                        <td></td>
                        <td>@Html.HiddenFor(m => m.Guia.Id, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>@Html.TextBoxFor(m => m.Guia.Nombre, new { @class = "form-control" , required="required", maxlength = 40, pattern="[a-zA-Z]*" })</td>
                    </tr>
                    <tr>
                        <td>Apellido</td>
                        <td>@Html.TextBoxFor(m => m.Guia.Apellido, new { @class = "form-control", required="required", maxlength = 40, pattern="[a-zA-Z]*"})</td>
                    </tr>
                    <tr>
                        <td>DNI</td>
                        <td>@Html.TextBoxFor(m => m.Guia.Dni, new { @class = "form-control", required="required", type = "number", min ="0", max = "99999999"  })</td>
                    </tr>
                    <tr>
                        <td><input type="submit" class="btn btn-danger" id="btnAgregar" position="absolute"/></td>
                    </tr>
                </table>

            }
        </div>
    </body>