@using Zoom.Models
@model VMGuias

@{
    ViewBag.Title = "List";
}
    <link rel="stylesheet" type="text/css" href="estilos.css">
    <body class="bodyGuias">
        <div align="center" class="div1">
            <h2 class="titulo">Lista de Guias</h2>

            <table class="table table-hover" align="center">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                </tr>

                @foreach (Guia guia in Model.Guias)
                {
                    <tr>
                        <td>@guia.Nombre</td>
                        <td>@guia.Apellido</td>
                        <td>@guia.Dni</td>
                    </tr>
                }
            </table>

        </div>
    </body>
