
@using Zoom.Models
@model VMPuntos


@{
    ViewBag.Title = "List";
}
    <body class="bodyPuntos">
        <div class="div1">
            <h2 class="titulos">Lista de Puntos</h2>

            <table class="table table-hover" align="center">
                <tr>
                    <th>Punto</th>
                    <th>Descripcion</th>
                    <th>Disponible</th>
                </tr>

                @foreach (PuntoPaseo punto in Model.Puntos)
                {
                    <tr>
                        <td>@punto.Nombre</td>
                        <td>@punto.Descripcion</td>
                        <td>@punto.Disponible</td>
                    </tr>
                }
            </table>
        </div>
        </body>