.barraLogo{
    height: 3em;

}

.boton{
    background: rgba(255, 255, 255, 0.356);
    box-shadow: black;
    color: black;

}

.ContenedorHomeLogo{
    position: relative;
    margin: 0 auto;
    text-align: center;

    top: 120px;
    
}

.HomeLogo{
    
    width: 25%;
    height: auto;
    opacity: 0.7;

}

.principal{
    background: rgba(255, 255, 255, 0.548);
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

.secundario{
    background: rgba(139, 138, 138, 0.301);
    width: 935px;
    height: 375px;
    margin: 0 auto;
}

.linea{
    position: relative;
    top: 45px;
    background: white;
    height: 0.5em;
    width: 935px;
}

.linea2{
    position: absolute;
    top: 45px;
    background: #FF88E3;
    height: 0.5em;
    width: 78px;

}


.linea3{
    position: absolute;
    top: 45px;
    left: 108px;
    background: #FF88E3;
    height: 0.5em;
    width: 100px;
}

.linea4{
    position: absolute;
    top: 45px;
    background: #FF88E3;
    height: 0.5em;
    width: 115px;
}

.linea5{
    position: absolute;
    top: 45px;
    left: 145px;
    background: #FF88E3;
    height: 0.5em;
    width: 138px;
}

.boton1{
    background: rgba(255, 136, 227, 0.63);
    height: 50px;
    width: 68px;
    position: absolute;
    top: 51px;
    left: 268px;
    z-index: -2;
}


.boton2{
    background: rgba(255, 136, 227, 0.63);
    height: 50px;
    width: 75px;
    position: absolute;
    top: 51px;
    left: 336px;
    z-index: -2;
}

.boton3{
    background: rgba(255, 136, 227, 0.63);
    height: 50px;
    width: 79px;
    position: absolute;
    top: 51px;
    left: 413px;
    z-index: -2;
}

.botonees{
    position: relative;
    left: 55px;
}

.botonHeader{
    position: relative;
    left: 70px;
}

.imagenFondo{
    position: fixed;
    top: -70px;
    left: auto;
    z-index: -100;
}

#imagenF{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#logoEpiphany{
    position: relative;
    margin: 0 auto;
    height: auto;
    top: -50px;
    text-align: center;
    color: black;
    
}

#logoEp{
    width: 50%;
}





#footer{
    position: fixed;
    
    height: 80px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    max-height:80px;
}

.footer-logo{
    max-height:80px;
}

.logoFooter{
    max-height:55px; 
}

.parrafoFotter{
    text-shadow: 0.1px 0.5px 0 #ffffff, 0.5px 1px 0 #ffffff;
}

.paraTablas{
    overflow: scroll;
    width: 935px;
    height: 500px;
    margin: 0 auto;
}


.tablaScroll{
    height: 500px;

}



.tablaAgregar{
    text-align: center;
    position: relative;
}

.tablaAgregar, .tablaO {
   
    text-align: left;
    position: absolute;
	top: 50%;
	left: 50%;
	height: 50%;
	width: 50%;
	margin: -16% 0 0 -25%;
    
}

.tablaAgregar, .tablaA {
   
    text-align: left;
    position: absolute;
	top: 50%;
	left: 50%;
	height: 50%;
	width: 50%;
	margin: -11.5% 0 0 -25%;
    
}

.tablaAgregar, .tablaOcu {
   
    text-align: left;
    position: absolute;
	top: 50%;
	left: 50%;
	height: 50%;
	width: 50%;
	margin: -11.5% 0 0 -25%;
    
}

.tablaO, .tablaA, .tablaOcu{
    background: rgba(255, 255, 255, 0.363);
}

.tablaLoker{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
    margin: 0 auto;
   
}

  .thL,
  .tdL {
    border: 1px solid black;
    width: 100px;
    overflow: hidden;
  }

  .divTabla{
    height: auto;
    width: auto;
    
    margin: 0 auto;
    height: 375px;
    color: black;
  }


  .my-custom-scrollbar {
    position: relative;
    height: 375px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }