.bodyInicio {
    background: url('Fotos/animals-aviary-environment-1680214.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bodyGuias {
    background: url('Fotos/animals-aviary-beautiful-1599452.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bodyPuntos {
    background: url('Fotos/daiga-ellaby-Sg_OwwU2Z9o-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bodyRecorridos {
    background: url('Fotos/glenn-haertlein-IpuuBrEPUVE-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.div1 {
    background-color: rgba(210, 218, 218, 0.596);
    border-radius: 25px;
    margin: 0 auto;
    z-index: -100;
    width: 700px;
    height: auto;
   
}

.divInicio {
    background-color: rgba(210, 218, 218, 0.596);
    border-radius: 25px;
    margin: 0 auto;
    z-index: -100;
    width: 700px;
    height: 350px;
}

tabla2 {
    margin: 0 auto;
    text-align: center;
}

.titulos {
    padding: 10px;
    text-align: center;
 
}

.boton{
    position:absolute;
}

.tituloInicio {
    padding: 35px;
    text-align: center;
}
