@{
    ViewBag.Title = "Home Page";
}

    <body class="bodyInicio">
        <div class=divInicio>
            <h1 class="tituloInicio" >Zoom</h1>
            <h2 class="titulos">Soluciones para Zoologicos</h2>
        </div>

    </body>

